.bg{
    background-color: #fffffffa;
}

.content{
    background-color: rgb(255, 255, 255);
}

.butn-1{
    background-color: #fffffffa;
    color: rgb(0, 0, 0);
}

h1, h2, h5, h6, p, a{
    color: rgb(0, 0, 0);
}

.linear-gradient{
    background: linear-gradient(rgb(255, 255, 255),  #fffffffa);
}

.principal{
    margin: 3%;
}

.div1{
    text-align: center;
    align-items: center;
}

@media (max-width: 470px) and (min-width: 330px){
.logo-page{
    width: 300px;
}
.div1{
    height: 170px;
}
.div2{
    margin-top: 30px;
}
}

@media (max-width: 330px){
    .logo-page{
        width: 200px;
    }
    .div1{
        height: 120px;
    }
}


@media (max-width: 330px){
.div1{
    height: 120px;
}
}

.sub-tit{
    text-align: center;
}

.txt-1{
    text-align:left;
}

.btn-saiba-mais{
    text-align: center;
    align-items: center;
}

.btn-saiba{
    text-align: center;
    align-items: center;
}

.ft-1{
    text-align: center;
}

.ideia{
    margin-top: 15px;
}
