.bg{
    background-color: #fffffffa;
}

.main{
    display: flex;
    text-align: center;
    justify-content: center;
    color: white;
}

.butn-1{
    background-color: #fffffffa;
    color: rgb(0, 0, 0);
}