.bg{
    background-color: #212529fa;
}

.main{
    display: flex;
    text-align: center;
    justify-content: center;
    color: rgb(255, 255, 255);
}

.agua1{
    border-color: rgb(255, 255, 255);
}

.butn-1{
    background-color: #fffffffa;
    color: rgb(0, 0, 0);
}
