.bg{
    background-color: #fffffffa;
}

h1, h2, p, h3{
    color: rgb(0, 0, 0);
}

.content{
    margin: 2%;
}

.butn-1{
    background-color: #fffffffa;
    color: rgb(0, 0, 0);
}

.grid-1{
    background: rgb(25, 25, 25);
    align-items: center;
}