.bg{
    background-color: #212529fa;
}

h1, h2, p, h3{
    color: white;
}

.content{
    margin: 2%;
}

.butn-1{
    background-color: #212529fa;
    color: rgb(152, 152, 152);
}

.grid-1{
    background: rgb(52, 52, 52);
    margin: 3px;
    
}