.bg{
    background-color: #212529fa;
}

h1, h2, p, h3, hr{
    color: white;
}

.content{
    margin: 2%;
}

.rafa{
    width: 200px;
    height: 200px;
}

.butn-1{
    background-color: #212529fa;
    color: rgb(152, 152, 152);
}
