.bg{
    background-color: #fffffffa;
}

h1, h2, p, h3, hr{
    color: rgb(0, 0, 0);
}

.p2{
    color: rgb(0, 0, 0);
}

.content{
    margin: 2%;
}

.rafa{
    width: 380px;
    height: 400px;
}

.gueno{
    width: 350px;
    height: 400px;
}

.butn-1{
    background-color: #fffffffa;
    color: rgb(0, 0, 0);
}
