.bg {
  background-color: #fffffffa;
}

h1,
h2,
p,
h3 {
  color: rgb(0, 0, 0);
}

.capa-treino {
  padding: 14%;
  background-image: url("../imagens/background2.jpeg");
  background-size: cover;
  max-width: 100%;
  display: flex;
}

.capa-title {
  text-align: center;
  font-size: 70px;
  color: white;
  font-weight: 700;
}

.intro-treino {
  text-align: center;
  font-size: 20px;
  color: rgb(0, 0, 0);
}

.content {
  margin: 3%;
}

.butn-1 {
  background-color: #fffffffa;
  color: rgb(0, 0, 0);
}
